/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.pulse {
  -webkit-animation: pulse 5s infinite;
          animation: pulse 5s infinite; }

/*
 * Keyframes
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */
  /** An element that fades in and slides from the right */ }
  .m-scene .scene_element {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  .m-scene .scene_element--fadein {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn; }
  .m-scene .scene_element--fadeinup {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp; }
  .m-scene .scene_element--fadeindown {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown; }
  .m-scene .scene_element--fadeinright {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight; }
  .m-scene .scene_element--grow {
    -webkit-animation-name: grow;
            animation-name: grow; }
  .m-scene.is-exiting .scene_element {
    -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse; }

@font-face {
  font-family: 'brandon-grotesque-bold';
  src: url("../assetts/font/brandon-grotesque-bold/brandon_bld.eot");
  src: url("../assetts/font/brandon-grotesque-bold/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../assetts/font/brandon-grotesque-bold/brandon_bld.woff") format("woff"), url("../assetts/font/brandon-grotesque-bold/brandon_bld.ttf") format("truetype"), url("../assetts/font/brandon-grotesque-bold/brandon_bld.svg#brandon-grotesque-bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon-grotesque-medium';
  src: url("../assetts/font/brandon-grotesque-medium/brandon_med.eot");
  src: url("../assetts/font/brandon-grotesque-medium/brandon_med.eot?#iefix") format("embedded-opentype"), url("../assetts/font/brandon-grotesque-medium/brandon_med.woff") format("woff"), url("../assetts/font/brandon-grotesque-medium/brandon_med.ttf") format("truetype"), url("../assetts/font/brandon-grotesque-medium/brandon_med.svg#brandon-grotesque-medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon-grotesque-regular';
  src: url("../assetts/font/brandon-grotesque-regular/brandon_reg.eot");
  src: url("../assetts/font/brandon-grotesque-regular/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../assetts/font/brandon-grotesque-regular/brandon_reg.woff") format("woff"), url("../assetts/font/brandon-grotesque-regular/brandon_reg.ttf") format("truetype"), url("../assetts/font/brandon-grotesque-regular/brandon_reg.svg#brandon-grotesque-regular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #11142a;
  font-family: "brandon-grotesque-bold";
  color: #fbfbf8; }
  body a {
    color: #fbfbf8;
    text-decoration: none; }
    body a:hover {
      text-decoration: none;
      color: inherit; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px; }

.col-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.col-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.circle-graphic {
  margin-top: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 60%;
  padding-top: 60%;
  height: 0;
  position: absolute;
  top: 0;
  right: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background-image: -webkit-linear-gradient(left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); }

#content-wrapper {
  position: relative;
  padding: 4rem 2rem 2rem 2rem; }
  #content-wrapper a {
    display: inline-block;
    position: relative; }
    #content-wrapper a:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 15px;
      width: 100%;
      -webkit-transition: width 0s ease;
      transition: width 0s ease; }
    #content-wrapper a:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 15px;
      width: 100%;
      background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
      background-image: -webkit-linear-gradient(left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      -webkit-transition: width .5s ease;
      transition: width .5s ease; }
    #content-wrapper a:hover:before {
      width: 0%;
      background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
      background-image: -webkit-linear-gradient(left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      -webkit-transition: width .5s ease;
      transition: width .5s ease; }
    #content-wrapper a:hover:after {
      width: 0%;
      background: transparent;
      -webkit-transition: width 0s ease;
      transition: width 0s ease; }

p.intro {
  font-size: 5rem;
  line-height: 5.4rem;
  text-align: left; }
