<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js"></script>
<script src="js/main.js"></script>
<!--<script src="js/appV1.1.js"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

<!-- WT App -->

<script src="//cdn.welltraveled.io/app.js" type="text/javascript"></script>
<script>
var key = "5F9F4688C62DCDE24DC504088B126B1F772311504870C0FB40D5DC8A3153249F";
</script>