<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js"></script>
<script src="js/main.js"></script>
<!--<script src="js/appV1.1.js"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

<!-- WT App -->

<script>
                !function(name,path,ctx){var latest,prev=name!=='WT'&&window.WT?window.WT:false;ctx[name]=ctx[name]||{ready:function(fn){var h=document.getElementsByTagName('head')[0],s=document.createElement('script'),w=window,loaded;s.onload=s.onerror=s.onreadystatechange=function(){if((s.readyState&&!(/^c|loade/.test(s.readyState)))||loaded){return}s.onload=s.onreadystatechange=null;loaded=1;latest=w.WT;if(prev){w.WT=prev}else{try{delete w.WT}catch(e){w.WT=void 0}}ctx[name]=latest;ctx[name].ready(fn)};s.async=1;s.src=path;h.parentNode.insertBefore(s,h)}}
                }('WT','//cdn.welltraveled.io/app.js',this);
                var key = "5F9F4688C62DCDE24DC504088B126B1F772311504870C0FB40D5DC8A3153249F";
                </script>