@import "variables";
@import "reset";
@import "syntax";
@import "animations";
@import "fonts";

body {
    background-color: #11142a;
    font-family: $font-bld;
    color: #fbfbf8;

    a {
        color: #fbfbf8;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: inherit;
        }


    }
}


.container {
    display: flex;
     flex-direction: row;
     padding: 30px;
}

// #wrapper {
//     background: #11142a;
//     padding: 10px;
//     width: calc(100% - 20px);
//     height: calc(100% - 20px);
//
// }

.col-left {
    flex:1
}

.col-right {
flex: 0 0 500px;
}


.circle-graphic {
        margin-top: 100px;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        position: fixed;
        top: 20px;
    // background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.nav-bar {
    position: fixed;
    z-index: 99;
    width: 100%;
    text-align: left;
    background-color: #11142a;

    .nav-inner {
        padding: 30px;
    }

    a {
        font-size: 2rem;
        margin: 0 1.5rem 0 0;
        position: relative;
        display: inline-block;
        float: left;
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
            transition: all .5s ease;
            opacity: 0;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }


    }

    .active {
        &:after {
            opacity: 1;
        }
    }
}

.social-links {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;

    .icons {
        font-size: 2rem;
        padding: 0 1rem 0 0;
    }
}

#content-wrapper {
    position: relative;
    padding: 4rem 6rem 0 0;

    .strike-through {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 2.5rem;
            height: 1rem;
            width: 100%;
            opacity: .95;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        }
    }

    .underline {
        display: inline-block;
        position: relative;
        &:before {
            content: '';
               display: inline-block;
               position: absolute;
               left: 0;
               bottom: 0;
               height: 15px;
               width: 100%;
               transition: width 0s ease;
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 15px;
            width: 100%;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
            transition: width .5s ease;
        }

        &:hover:before {
            width: 0%;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
           transition: width .5s ease;
        }

        &:hover:after {
            width: 0%;
           background: transparent;
           transition: width 0s ease;
        }
    }
}


p.intro {
    font-size: 5rem;
    line-height: 5.4rem;
    text-align: left;
}


//Work page


#projects {
    text-align: left;
    font-family: $font-reg;
    font-size: 1.1rem;
    width: auto;
}

.project-header {
    display: inline-block;;
    position: relative;
    width: auto;
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        transition: width .5s ease;
    }
    font-family: $font-med;
}

.project-content {
    display: inline-block;
    position: relative;
    width: auto;
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        transition: width .5s ease;
    }


    a {
        position: relative;
        display: inline-block;
        transition: all .5s;
        transform: translateX(0);
    &:hover{
        transform: translateX(30px);
        // opacity: 0;
        }
    }
}
.work-col-a , .work-col-b, .work-col-c, .work-col-d {
    display: inline-block;
    position: relative;
    float: left;
    padding: 20px 10px 20px 0;

}

.work-col-a {
    width: 270px;
}

.work-col-b {
    width: 250px;
}

.work-col-c {
    width: 250px;
}

.work-col-d {
    width: 40px;
}
