<!DOCTYPE html>
<html>
<head>
{% include head.html %}
{% assign current = page.url | downcase | split: '/' %}
</head>
    <body>
      <div class="m-scene" id="main">
         <nav class="nav-bar scene_element scene_element--fadeindown">
            <nav class="nav-inner">
               <a {% if current[1] == 'index.html' %}class='active'{% endif %} href="index.html">Home</a>
               <a {% if current[1] == 'about.html' %}class='active'{% endif %} href="about.html">About</a>
               <a {% if current[1] == 'work.html' %}class='active'{% endif %} href="work.html">Work</a>
               <a {% if current[1] == 'contact.html' %}class='active'{% endif %} href="contact.html">Contact</a>
            </nav>
         </nav>


         <div class="container">
            <div id="content-wrapper" class="col-left scene_element scene_element--fadeinup">
                   {{ content }}
            </div>

            <div class="scene_element scene_element--fade col-right">
               <div class="circle-graphic pulse"></div>
            </div>
         </div>



      <nav class="social-links scene_element scene_element--fadeinright">
         <a href="https://www.twitter.com/suprisaac" target="_blank"><i class="icon-social-twitter icons"></i></a>
         <a href="https://instagram.com/isaacm" target="_blank"><i class="icon-social-instagram icons"></i></a>
         <a href="mailto:contact@isaacmartin.co" target="_blank"><i class="icon-envelope icons"></i></a>

      </nav>
   </div><!-- End #main -->
   {% include body-scripts.html %} <!-- this will paste in all of the scripts you want before the closing body tag -->
    </body>
</html>
