<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
    <body>
      <div class="m-scene" id="main">
         <nav class="scene_element scene_element--fadeindown">
           <a href="index.html">Home</a><a href="about.html">About</a><a href="work.html">Work</a><a href="contact.html">Contact</a>
         </nav>


         <div class="container">
            <div id="content-wrapper" class="col-1 scene_element scene_element--fadeinup">
                   {{ content }}
            </div>

            <div class="scene_element scene_element--grow col-1">
               <div class="circle-graphic pulse"></div>
            </div>
         </div>



      <!-- <div class="social-links scene_element scene_element--fadeinright"></div> -->
   </div><!-- End #main -->
   {% include body-scripts.html %} <!-- this will paste in all of the scripts you want before the closing body tag -->
    </body>
</html>
